# **Data Types and Structures Questions**

Q1. What are data structures, and why are they important?
 - Data structures are ways of organizing and storing data for efficient access and modification. They are important because they improve performance, memory usage, and problem-solving efficiency.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable → can be changed after creation (e.g., list, dict, set).

 - Immutable → cannot be changed (e.g., str, tuple, int).

Q3. What are the main differences between lists and tuples in Python?
 - Lists are mutable, slower, and use [].

 - Tuples are immutable, faster, and use ().

Q4. Describe how dictionaries store data.
 - Dictionaries store data in key-value pairs. Each key is unique, and keys are hashed internally for fast lookup.

Q5. Why might you use a set instead of a list in Python?
 - Use a set when you want unique elements only and need fast membership checks (in operation).

Q6. What is a string in Python, and how is it different from a list?
 - A string is an immutable sequence of characters, while a list is a mutable sequence of elements that can hold different types.

Q7. How do tuples ensure data integrity in Python?
 - Since tuples are immutable, their contents cannot be changed, ensuring stored data remains constant and safe.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

Q9. Can lists contain different data types in Python?
 - Yes, a list can contain integers, strings, floats, or even other lists together. Example: [1, "hello", 3.5].

Q10. Explain why strings are immutable in Python.
 - Strings are immutable to make them safe for sharing, hashing, and reusing in memory

Q11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries let you find items quickly using keys, unlike lists which take longer to search.

Q12. Describe a scenario where using a tuple would be preferable over a list.
 - When storing data that should not change, like coordinates (x, y) or fixed records.

Q13. How do sets handle duplicate values in Python?
 - Sets automatically remove duplicates and only keep unique items.

Q14. How does the “in” keyword work differently for lists and dictionaries?
 - List → checks if an item exists.

- Dictionary → checks if a key exists.

Q15. Can you modify the elements of a tuple? Explain why or why not.
 - No, tuples are immutable. Once created, their elements cannot be added, removed, or changed.
  
Q16. What is a nested dictionary, and give an example of its use case.
 - A dictionary inside another dictionary. Example:

- students = {"John": {"age": 20, "grade": "A"}}

Q17. Describe the time complexity of accessing elements in a dictionary.
 - Average-case: O(1) due to hashing.
-Worst-case (hash collisions): O(n).

Q18. In what situations are lists preferred over dictionaries?
- When order matters, duplicates are needed, or you want simple sequential data.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries had no guaranteed order; retrieval was only by key, not position. Since 3.7, insertion order is preserved but still accessed via keys.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List → retrieval by index (position).

- Dictionary → retrieval by key (name/identifier

# **Practical Questions**

In [1]:
#Q1. Create a string with your name and print it
name = "Simar"
print(name)

Simar

In [2]:
#Q2. Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
#Q3. Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# Q4 Convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [5]:
#Q5. Replace the word "apple" with "orange" in "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [6]:
#Q6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#Q7. Append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#Q8. Remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#Q9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#Q10. Reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
#Q11. Create a tuple with the elements 100, 200, 300 and print it
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [12]:
#Q12. Access the second-to-last element of the tuple
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#Q13. Find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
#Q14. Find the index of the element "cat" in the tuple
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#Q15. Create a tuple containing three fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [16]:
#Q16. Create a set with the elements 'a', 'b', 'c' and print it
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

In [17]:
#Q17. Clear all elements from the set {1, 2, 3, 4, 5}
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [18]:
#Q18. Remove the element 4 from the set {1, 2, 3, 4}
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
#Q19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
#Q20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
#Q21. Create a dictionary with keys "name", "age", and "city" and print it
person = {"name": "Alice", "age": 25, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [22]:
#Q22. Add a new key-value pair "country": "USA" to the dictionary
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#Q23. Access the value associated with the key "name"
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [24]:
#Q24. Remove the key "age" from the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Q25. Check if the key "city" exists in the dictionary
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [26]:
#Q26. Create a list, a tuple, and a dictionary, and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [27]:
#Q27. Create a list of 5 random numbers between 1 and 100, sort it, and print
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[27, 30, 60, 61, 61]

In [28]:
#Q28. Create a list with strings and print the element at the third index
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])

date

In [29]:
#Q29. Combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#Q30. Convert a list of strings into a set
fruits = ['apple', 'banana', 'apple', 'mango']
unique_fruits = set(fruits)
print(unique_fruits)

{'apple', 'mango', 'banana'}